* {
  margin: 0;
  padding: 0;
  color: white;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  background-image: linear-gradient(to right, black, #3533CD);
}

h1 {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.container{
  display: flex;
  align-items: center;
  background: black;
  padding: 10px 20px;
  justify-content: center;
}

.container img{
align-items: center;  
border: 5px solid rgb(0, 4, 255);
width: 200px;
border-radius: 50%;
}
.container img h2{
padding: 50px;
align-items: center;
}
.container h2 {
padding: 24px;
background: black;
}
.projetos {
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
padding: 24px;
  
  
}
.projetos h3 {
padding: 30px;
font-weight: 1000;
}
.projetos ul {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 500px;
  gap: 20px;
}
.projetos ul li {
  border: solid 1px rgb(0, 4, 255);
  border-radius: 15px;
  background-image: linear-gradient(to right, rgb(12, 8, 255), #0c08e2);
  transition: all .5s;
  width: 100%;
}
.titleBtn {
  font-weight: 500;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleBtn:hover {
  background: rgb(3, 0, 194);
  border: 1.5px solid rgb(5, 0, 32);
  border-radius: 15px;
  transition: .5s;
}


  


footer {
text-align: center;
padding: 30px;
}

@media (max-width: 600px) {
  
  .content h1 {
        
    display: flex;
    text-align: center;
    font-size: larger;    
    }
    .container{
    display: flex;
    background: black;
    padding: 5px 5px;
          
    }
    .container img{
    width: 120px;
    }


    .container h2{
    font-size: 10px;
    padding: 10px;

    }
    .projetos h3 {
    padding: 20px;   

    }
    .projetos ul {
      width: 50%;
      max-width: 250px;
      min-width: 200px;
    }
    .projetos ul li {
       width: 100%;
       
    }
    .titleBtn {
      font-weight: 500;
      height: 50px;
    }
    footer {
    font-size: 12px;   
    padding: 0 0 10px 0;
    }
    
}