* {
  margin: 0;
  padding: 0;
  color: white;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  background-image: linear-gradient(to right, black, #3533CD);
}

h1 {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.container{
  display: flex;
  align-items: center;
  background: black;
  padding: 10px 20px;
  justify-content: center;
}

.container img{
align-items: center;  
border: 5px solid navy;
width: 200px;
border-radius: 50%;
}
.container img h2{
padding: 50px;
align-items: center;
}
.container h2 {
padding: 24px;
background: black;
}
.projetos {
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
padding: 24px;
  
  
}
.projetos h3 {
padding: 60px;
font-weight: 1000;
}
.projetos ul {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* max-width: 500px; */
  /* list-style: none; */
  gap: 20px;
}
.projetos ul li {
  border: solid 4px blue;
  border-radius: 15px;
  background-image: linear-gradient(to right, rgb(12, 8, 255), #0c08e2);
  /* backdrop-filter: blur(4px); */
  transition: all .5s;
  width: 100%;
}
.titleBtn {
  font-weight: 500;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ul li a:hover {
  background: rgb(0, 4, 201);
  border: 1.5px solid rgb(0, 60, 255);
  } */
  


footer a{
text-decoration: none;

}
footer {
text-align: center;
padding: 30px;
}

@media (max-width: 600px) {
    .content h1 {
        
    display: flex;
    padding: 20px;
    text-align: center;
    font-size: larger;    
    }
    .container{
    display: flex;
    background: black;
    padding: 10px 20px;
          
    }
    .container img{
    width: 100px;

    }


    .container h2{
    font-size: 10px;
    }
    .projetos ul li a {
    padding: 10px 80px;
    /* border-radius: 20px; */
  }
    footer {
    font-size: 13px;    
    }
    
}